In [44]:
import pandas as pd
import numpy as np
import os

In [119]:
df_train = pd.read_csv('train.csv')
print(df_train.head(2))

   ACTION  RESOURCE  MGR_ID  ROLE_ROLLUP_1  ROLE_ROLLUP_2  ROLE_DEPTNAME  \
0       1     39353   85475         117961         118300         123472
1       1     17183    1540         117961         118343         123125

   ROLE_TITLE  ROLE_FAMILY_DESC  ROLE_FAMILY  ROLE_CODE
0      117905            117906       290919     117908
1      118536            118536       308574     118539

In [100]:
df_train.shape

(32769, 10)

In [101]:

#let's find the range so that we can categorize them
role1 = df_train['ROLE_ROLLUP_1']
print(role1.min())
print(role1.max())

4292
311178

In [19]:
role2 = df_train['ROLE_ROLLUP_2']
print(role2.min())
print(role2.max())

23779
286791

In [112]:
rolename = df_train['ROLE_DEPTNAME']
print(rolename.min())
print(rolename.max())

4674
286792

In [21]:
roletitle = df_train['ROLE_TITLE']
print(roletitle.min())
print(roletitle.max())

117879
311867

In [22]:
ROLE_FAMILY_DESC = df_train['ROLE_FAMILY_DESC']
print(ROLE_FAMILY_DESC.min())
print(ROLE_FAMILY_DESC.max())

4673
311867

In [59]:
ROLE_FAMILY_DESC = df_train['ROLE_FAMILY']
print(ROLE_FAMILY_DESC.min())
print(ROLE_FAMILY_DESC.max())

3130
308574

In [62]:
ROLE_FAMILY_DESC = df_train['ROLE_CODE']
print(ROLE_FAMILY_DESC.min())
print(ROLE_FAMILY_DESC.max())

117880
270691

In [172]:
df_test = pd.read_csv('test.csv')
dfdup = df_test
print(df_test.head(2))

   id  RESOURCE  MGR_ID  ROLE_ROLLUP_1  ROLE_ROLLUP_2  ROLE_DEPTNAME  \
0   1     78766   72734         118079         118080         117878
1   2     40644    4378         117961         118327         118507

   ROLE_TITLE  ROLE_FAMILY_DESC  ROLE_FAMILY  ROLE_CODE
0      117879            118177        19721     117880
1      118863            122008       118398     118865

In [7]:
df_test.shape

(58921, 10)

In [103]:
df_train.describe()   #94.2% of employees are allowed access to resource.

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
count,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000
mean,0.942110,42923.916171,25988.957979,116952.627788,118301.823156,118912.779914,125916.152644,170178.369648,183703.408893,119789.430132
std,0.233539,34173.892702,35928.031650,10875.563591,4551.588572,18961.322917,31036.465825,69509.462130,100488.407413,5784.275516
min,0.000000,0.000000,25.000000,4292.000000,23779.000000,4674.000000,117879.000000,4673.000000,3130.000000,117880.000000
25%,1.000000,20299.000000,4566.000000,117961.000000,118102.000000,118395.000000,118274.000000,117906.000000,118363.000000,118232.000000
50%,1.000000,35376.000000,13545.000000,117961.000000,118300.000000,118921.000000,118568.000000,128696.000000,119006.000000,118570.000000
75%,1.000000,74189.000000,42034.000000,117961.000000,118386.000000,120535.000000,120006.000000,235280.000000,290919.000000,119348.000000
max,1.000000,312153.000000,311696.000000,311178.000000,286791.000000,286792.000000,311867.000000,311867.000000,308574.000000,270691.000000

In [12]:
df_train.corr()["ACTION"].sort_values()

#highest negative correlation = role_rollup_1

ROLE_ROLLUP_1      -0.013702
ROLE_TITLE         -0.010169
MGR_ID             -0.005167
RESOURCE            0.000185
ROLE_FAMILY         0.000502
ROLE_DEPTNAME       0.001025
ROLE_FAMILY_DESC    0.003565
ROLE_ROLLUP_2       0.005179
ROLE_CODE           0.017147
ACTION              1.000000
Name: ACTION, dtype: float64

In [25]:
#let us try the group by operations
df = df_train.groupby('ROLE_ROLLUP_1')['ACTION'].mean().sort_values()

In [121]:
df_train["ROLE_ROLLUP_1"] = pd.cut(df_train['ROLE_ROLLUP_1'], [4291,8000,10000,311178], labels=[0,1,2])

In [50]:
df_train.head(2)

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,2,118300,123472,117905,117906,290919,117908
1,1,17183,1540,2,118343,123125,118536,118536,308574,118539

In [122]:
df_train["ROLE_ROLLUP_2"] = pd.cut(df_train['ROLE_ROLLUP_2'], [23778,60000,140000,286791], labels=[0,1,2])

In [106]:
df_train.head(2)

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,2,1,123472,117905,117906,290919,117908
1,1,17183,1540,2,1,123125,118536,118536,308574,118539

In [123]:
df_train["ROLE_TITLE"] = pd.cut(df_train['ROLE_TITLE'], [117878,200000,311867], labels=[0,1])
df_train["ROLE_DEPTNAME"] = pd.cut(df_train['ROLE_DEPTNAME'], [4673,10000,277693], labels=[0,1])

In [108]:
df_train.head(2)

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,2,1,0,0,117906,290919,117908
1,1,17183,1540,2,1,0,0,118536,308574,118539

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,2,1,NaN,0,117906,290919,117908
1,1,17183,1540,2,1,NaN,0,118536,308574,118539

In [124]:
df_train['ROLE_FAMILY_DESC'] = pd.cut(df_train['ROLE_FAMILY_DESC'],[4671,20000,311867],labels=[0,1])
df_train['ROLE_FAMILY'] = pd.cut(df_train['ROLE_FAMILY'],[3128,20000,308574],labels=[0,1])

In [61]:
df_train.head(2)

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,2,1,1,0,1,1,117908
1,1,17183,1540,2,1,1,0,1,1,118539

In [125]:
df_train['ROLE_CODE'] = pd.cut(df_train['ROLE_CODE'],[117877,180000,270691],labels=[0,1])
df_train.head(2)

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,2,1,1,0,1,1,0
1,1,17183,1540,2,1,1,0,1,1,0

In [76]:
role1 = df_test['ROLE_ROLLUP_1']
print(role1.min())
print(role1.max())

4292
311178

In [77]:
role2 = df_test['ROLE_ROLLUP_2']
print(role2.min())
print(role2.max())

23779
194897

In [78]:
rolename = df_test['ROLE_DEPTNAME']
print(rolename.min())
print(rolename.max())

4674
277693

In [79]:
roletitle = df_test['ROLE_TITLE']
print(roletitle.min())
print(roletitle.max())

117879
311867

In [80]:
ROLE_FAMILY_DESC = df_test['ROLE_FAMILY_DESC']
print(ROLE_FAMILY_DESC.min())
print(ROLE_FAMILY_DESC.max())

4673
311867

In [81]:
ROLE_FAMILY_DESC = df_test['ROLE_FAMILY']
print(ROLE_FAMILY_DESC.min())
print(ROLE_FAMILY_DESC.max())

3130
308574

In [82]:
ROLE_FAMILY_DESC1 = df_test['ROLE_CODE']
print(ROLE_FAMILY_DESC1.min())
print(ROLE_FAMILY_DESC1.max())

117880
270691

In [171]:
df_test["ROLE_ROLLUP_1"] = pd.cut(df_test['ROLE_ROLLUP_1'], [4291,8000,10000,311178], labels=[0,1,2])
df_test["ROLE_ROLLUP_2"] = pd.cut(df_test['ROLE_ROLLUP_2'], [23778,60000,140000,286791], labels=[0,1,2])
df_test["ROLE_TITLE"] = pd.cut(df_test['ROLE_TITLE'], [117877,200000,311867], labels=[0,1])
df_test["ROLE_DEPTNAME"] = pd.cut(df_test['ROLE_DEPTNAME'], [4673,10000,277693], labels=[0,1])

df_test["ROLE_FAMILY_DESC"] = pd.cut(df_test['ROLE_FAMILY_DESC'], [4672,200000,311867], labels=[0,1])
df_test['ROLE_FAMILY'] = pd.cut(df_test['ROLE_FAMILY'],[3129,20000,308574],labels=[0,1])
df_test['ROLE_CODE'] = pd.cut(df_test['ROLE_CODE'],[117878,180000,270691],labels=[0,1])



df_test.head(2)

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,78766,72734,2,1,1,0,0,0,0
1,2,40644,4378,2,1,1,0,0,1,0

In [128]:
features = ['ROLE_ROLLUP_1','ROLE_ROLLUP_2','ROLE_DEPTNAME','ROLE_TITLE','ROLE_FAMILY_DESC','ROLE_FAMILY','ROLE_CODE']
cols = np.append(['ACTION'],features)
print(cols)

['ACTION' 'ROLE_ROLLUP_1' 'ROLE_ROLLUP_2' 'ROLE_DEPTNAME' 'ROLE_TITLE'
 'ROLE_FAMILY_DESC' 'ROLE_FAMILY' 'ROLE_CODE']

In [142]:
df_train2 = df_train.loc[:,cols].dropna().reindex()
df_train2.head(2)

,ACTION,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,2,1,1,0,1,1,0
1,1,2,1,1,0,1,1,0

In [149]:
X = df_train2.loc[:,features]
y = np.ravel(df_train2.loc[:,['ACTION']])
X.head(2)

,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,2,1,1,0,1,1,0
1,2,1,1,0,1,1,0

In [150]:
y

array([1, 1, 1, ..., 1, 1, 1])

In [151]:
X.shape

(32768, 7)

In [152]:
y.shape

(32768,)

In [169]:
X_test = df_test.loc[:,features]
id = df_test['MGR_ID']
id

0         72734
1          4378
2          2395
3         19986
4         50015
5          1755
6         21135
7          3077
8         15575
9          4474
10        25293
11         6222
12        52925
13       108550
14         1600
15        19839
16        53747
17         2017
18         3883
19        39942
20          771
21         7370
22         2765
23         5464
24        48938
25         2034
26       121729
27        49323
28         3970
29         9659
          ...
58891     55929
58892     22745
58893      4272
58894     14638
58895     14758
58896      8059
58897      7285
58898      4933
58899      5717
58900      1397
58901     79114
58902       858
58903     21303
58904      5504
58905      5323
58906      7710
58907     56654
58908     35379
58909     14638
58910       783
58911     84891
58912      2291
58913      4496
58914      1913
58915     46476
58916      4565
58917     72209
58918      6114
58919      8674
58920      3918
Name: MGR_ID, Length: 58921, dtype: int64

In [140]:
X_test.shape

(58921, 7)

In [153]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn import svm

clf_log = LogisticRegression()
clf_log = clf_log.fit(X,y)

In [154]:
y_pred = clf_log.predict(X_test)
print('prediction complete')

prediction complete

In [155]:
print(y_pred)

[1 1 1 ... 1 1 1]

In [175]:
sub = pd.read_csv("sampleSubmission.csv")
sub["Action"] = y_pred
sub.to_csv('submission.csv',index=False)